<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 ">


      <h1>Stupid Coaching</h1>
      <p><%= @question %><br/>--You</p>

      <p class="highlight"><%= @answer %><br/>--Coach</p>
      <%= link_to "Ask a new question", ask_path %>

    </div>
  </div>
</div>
