<div class="container">
  <form action="answer">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4 ">
          <h1>Questions#ask</h1>
          <div class="form-group">
            <label for="askQuestion">Question</label>
            <input type="text" name="question" class="form-control" id="askQuestion">
            <input type="submit" value="Ask!" class="btn btn-primary ask">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
